__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.csv
*.tsv
*.json
*.xlsx
*.xls
*.docx
*.pptx
*.pdf
*.zip
*.tar
*.gz
*.tgz
*.bz2
*.7z
*.rar
*.egg-info/
dist/
build/
.env/
__pycache__/
/venv/
.env
.env_old
